@{
    ViewData["Title"] = "Home Page";
}

<div id="milieu">
    <input type="submit" value="Jouer" class="btn-jouer">
    <div>
        <p>Prochain tirage</p>
        <p class="temps">04:51</p>
        <p>Minutes</p>
    </div>
    <input type="submit" value="Règles" class="btn-regles">
</div>

<div id="section-code">
    <span class="titre">Entrer votre code</span>
    <div class="champ"></div>
</div>

<input type="submit" value="Valider" class="valider-guid">