@{
    ViewData["Title"] = "Home Page";
}

<div id="milieu">
    <a class="btn-jouer" asp-controller="Loterie" asp-action="Loterie">Jouer</a>
    <div>
        <p>Prochain tirage</p>
        <p class="temps">04:51</p>
        <p>Minutes</p>
    </div>
    <a class="btn-regles" asp-controller="Regles" asp-action="Regles">Règles</a>
</div>

<div id="section-code">
    <span class="titre">Entrer votre code</span>
    <div class="champ">
        <input type="text" class="entrer-champ" name="entrer-champ">
    </div>
</div>

<a class="valider-guid" asp-controller="Resultat" asp-action="Resultat">Valider</a>