@{
    ViewData["Title"] = "Home Page";
}

<div id="principale">
    <div class="premiere">
        <div>Les règles</div>
        <p>- Un tirage à lieu tous les 5 minutes, 1 minute avant le tirage il n’est plus possible d’y participer</p>
        <p>- Vous devez choisir 6 numéros et valider pour jouer un ticket</p>
    </div>

    <div class="deuxieme">
        <div>Informations</div>
        <p>
            - Vous recevez un code pour chaque grille validée, il vous permettra de consulter le résultat de ce
            tirage
        </p>
    </div>

    <div class="troisieme">
        <div>Les boutons</div>
        <p>- Valider : Permet de valider votre grille une fois votre saisie complète (6 numéros)</p>
        <p>- Réinitaliser : Permet de réinitaliser la saisie en cours</p>
        <p>- Logo Loterie : Permet de revenir à la page principale</p>
    </div>

    <div class="quatrieme">
        <div>Les gains</div>
        <p>- Les gains sont au minimum de 10 choux</p>
        <p>- Pour chaque joueur supplémentaire qui valide sa grille 1 chou est rajouté à la cagnotte</p>
        <br>
        <p>Le calcul des gains se fait comme suit :</p>
        <p>- Premier rang (6 bons numéros) se partage 60% de la cagnotte</p>
        <p>- Deuxième rang (5 bons numéros) se partage 40% de la cagnotte</p>
        <p>- Troisème rang (4 bons numéros) se partage 20% de la cagnotte</p>
    </div>
</div>