body {
    text-align: center;
    margin: 0;
    min-height: 100vh;
    background-color: #D7DEDC;
    font-family: 'Titillium Web', sans-serif;
}

    body p {
        margin: 15px;
        font-weight: 600;
    }



#principale {
    width: 50%;
    height: 720px;
    background-color: #CFCECE;
    border-radius: 10px;
    margin: auto;
}

.premiere {
    margin-top: 70px;
}

    .premiere div {
        color: #FFFFFF;
        background: #0B7A75;
        font-size: 24px;
        font-weight: 600;
        width: 100%;
        border-radius: 10px;
        border-style: none;
    }

.deuxieme div {
    color: #FFFFFF;
    background: #0B7A75;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    border-radius: 10px;
    border-style: none;
}

.troisieme div {
    color: #FFFFFF;
    background: #0B7A75;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    border-radius: 10px;
    border-style: none;
}

.quatrieme div {
    color: #FFFFFF;
    background: #0B7A75;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    border-radius: 10px;
    border-style: none;
}
