@{
    ViewData["Title"] = "Home Page";
}

<div id="resultat">
    <div id="cagnotte">
        Cagnotte actuelle
    </div>

    <div id="gain">
        Gain : xx choux
    </div>
</div>

<div id="info" style="display: none">
    <p>Code partie actuelle :</p>
    <p>w5kIKLSt0ECp_sRh4ol-mw</p>
    <p class="alert">! VEUILLEZ LE NOTER !</p>
</div>

<div id="grille-total">
    <div class="grille">
        <input type="button" value="1" id="1" onclick="jouer(this.value)">
        <input type="button" value="2" id="2" onclick="jouer(this.value)">
        <input type="button" value="3" id="3" onclick="jouer(this.value)">
        <input type="button" value="4" id="4" onclick="jouer(this.value)">
        <input type="button" value="5" id="5" onclick="jouer(this.value)">
        <input type="button" value="6" id="6" onclick="jouer(this.value)">
        <input type="button" value="7" id="7" onclick="jouer(this.value)">
    </div>

    <div class="grille">
        <input type="button" value="8" id="8" onclick="jouer(this.value)">
        <input type="button" value="9" id="9" onclick="jouer(this.value)">
        <input type="button" value="10" id="10" onclick="jouer(this.value)">
        <input type="button" value="11" id="11" onclick="jouer(this.value)">
        <input type="button" value="12" id="12" onclick="jouer(this.value)">
        <input type="button" value="13" id="13" onclick="jouer(this.value)">
        <input type="button" value="14" id="14" onclick="jouer(this.value)">
    </div>

    <div class="grille">
        <input type="button" value="15" id="15" onclick="jouer(this.value)">
        <input type="button" value="16" id="16" onclick="jouer(this.value)">
        <input type="button" value="17" id="17" onclick="jouer(this.value)">
        <input type="button" value="18" id="18" onclick="jouer(this.value)">
        <input type="button" value="19" id="19" onclick="jouer(this.value)">
        <input type="button" value="20" id="20" onclick="jouer(this.value)">
        <input type="button" value="21" id="21" onclick="jouer(this.value)">
    </div>

    <div class="grille">
        <input type="button" value="22" id="22" onclick="jouer(this.value)">
        <input type="button" value="23" id="23" onclick="jouer(this.value)">
        <input type="button" value="24" id="24" onclick="jouer(this.value)">
        <input type="button" value="25" id="25" onclick="jouer(this.value)">
        <input type="button" value="26" id="26" onclick="jouer(this.value)">
        <input type="button" value="27" id="27" onclick="jouer(this.value)">
        <input type="button" value="28" id="28" onclick="jouer(this.value)">
    </div>

    <div class="grille">
        <input type="button" value="29" id="29" onclick="jouer(this.value)">
        <input type="button" value="30" id="30" onclick="jouer(this.value)">
        <input type="button" value="31" id="31" onclick="jouer(this.value)">
        <input type="button" value="32" id="32" onclick="jouer(this.value)">
        <input type="button" value="33" id="33" onclick="jouer(this.value)">
        <input type="button" value="34" id="34" onclick="jouer(this.value)">
        <input type="button" value="35" id="35" onclick="jouer(this.value)">
    </div>

    <div class="grille">
        <input type="button" value="36" id="36" onclick="jouer(this.value)">
        <input type="button" value="37" id="37" onclick="jouer(this.value)">
        <input type="button" value="38" id="38" onclick="jouer(this.value)">
        <input type="button" value="39" id="39" onclick="jouer(this.value)">
        <input type="button" value="40" id="40" onclick="jouer(this.value)">
        <input type="button" value="41" id="41" onclick="jouer(this.value)">
        <input type="button" value="42" id="42" onclick="jouer(this.value)">
    </div>

    <div class="grille">
        <input type="button" value="43" id="43" onclick="jouer(this.value)">
        <input type="button" value="44" id="44" onclick="jouer(this.value)">
        <input type="button" value="45" id="45" onclick="jouer(this.value)">
        <input type="button" value="46" id="46" onclick="jouer(this.value)">
        <input type="button" value="47" id="47" onclick="jouer(this.value)">
        <input type="button" value="48" id="48" onclick="jouer(this.value)">
        <input type="button" value="49" id="49" onclick="jouer(this.value)">
    </div>

    <div>
        <input type="submit" value="Valider">
    </div>

    <div>
        <input type="reset" value="Réinitialiser">
    </div>
</div>

<div id="selection"></div>

<div id="message"></div>

<script>
    $i = 0;

    function jouer(val) {
        if ($i < 6) {
            document.getElementById(val).style.visibility = "hidden";
            document.getElementById("selection").innerHTML += '<div class="btn-selection">' + val + '</div>';
            $i++;

            if ($i === 6) {
                document.getElementById('info').style.display = "block";
                document.getElementById("message").innerHTML = '<p>Votre selection est terminé, vous pouvez valider</p>';
            }
        }
    }
</script>