@{
    ViewData["Title"] = "Home Page";
}

<div id="resultat">
    <div id="cagnotte">
        Cagnotte actuelle
    </div>

    <div id="gain">
        Gain: xx choux
    </div>
</div>

<div id="info" style="display: none">
    <p>Code partie actuelle :</p>
    <p>w5kIKLSt0ECp_sRh4ol-mw</p>
    <p class="alert">! VEUILLEZ LE NOTER !</p>
</div>

@{
    for (int i = 1; i < 50; i++)
    {
        <div id="grille-total">
            <div class="grille">
                <input type="button" value="@i" id="@i" onclick="jouer(this.value)">
            </div>
        </div>

        if (i % 7 == 0)
        {
            <br />
        }
    }
}



<div class="section-btn-valider-reinitisaliser">
    <input type="submit" value="Valider">
    <input type="reset" value="Réinitialiser">
</div>

<div id="selection"></div>

@*<div id="message"></div>*@

<script>
    $i = 0;

    function jouer(val) {
        if ($i < 6) {
            document.getElementById(val).style.visibility = "hidden";
            document.getElementById("selection").innerHTML += '<div class="btn-selection">' + val + '</div>';
            $i++;

            if ($i === 6) {
                document.getElementById('info').style.display = "block";
                document.getElementById("message").innerHTML = '<p>Votre selection est terminé, vous pouvez valider</p>';
            }
        }
    }
</script>