/*html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}*/


/* INDEX */
body {
    text-align: center;
    margin: 0;
    min-height: 100vh;
    background-color: #D7DEDC;
    font-family: 'Titillium Web', sans-serif;
}

header {
    background-color: #0B7A75;
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: start;
}

    header a {
        font-size: 96px;
        color: #D7DEDC;
        font-family: 'Exo', sans-serif;
        text-decoration: none;
        padding-left: 86px;
    }

#milieu {
    display: flex;
    justify-content: space-between;
    width: 50%;
    /* haut | droit | bas | gauche */
    margin: 50px auto 50px auto;
}

    #milieu .btn-jouer {
        width: 180px;
        height: 80px;
        font-size: 40px;
        color: #0B7A75;
        border-radius: 10px;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        background-color: #CFCECE;
        font-weight: 500;
        margin: auto;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        #milieu .btn-jouer:hover {
            background-color: #bab9b9;
            transition: all 0.2s ease;
        }

        #milieu .btn-jouer:active {
            transform: translate(0, 5px);
            border-bottom: 1px;
        }

    #milieu div {
        width: 250px;
        height: 250px;
        background-color: #0B7A75;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #milieu p {
        font-size: 24px;
        color: #FFFFFF;
        font-weight: 500;
        margin: 0;
    }

    #milieu .temps {
        font-size: 48px;
    }

    #milieu .btn-regles {
        width: 180px;
        height: 80px;
        font-size: 40px;
        color: #0B7A75;
        border-radius: 10px;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        border: none;
        background-color: #CFCECE;
        font-weight: 500;
        margin: auto;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        #milieu .btn-regles:hover {
            background-color: #bab9b9;
            transition: all 0.2s ease;
        }

        #milieu .btn-regles:active {
            transform: translate(0, 5px);
            border-bottom: 1px;
        }

#section-code .titre {
    color: #0B7A75;
    font-weight: 700;
    font-size: 20px;
}

#section-code .champ {
    width: 464px;
    height: 45px;
    background-color: #CFCECE;
    border-radius: 10px;
    /* haut | droit | bas | gauche */
    margin: 10px auto 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-code .entrer-champ {
    width: 450px;
    height: 40px;
    background-color: #CFCECE;
    font-size: 20px;
    text-align: center;
    border: 0;
}

.valider-guid {
    width: 103px;
    height: 35px;
    color: #FFFFFF;
    background-color: #0B7A75;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-style: none;
    margin-top: 50px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* haut | droit | bas | gauche */
    margin: 15px auto 15px auto;
}

    .valider-guid:hover {
        background-color: #08615d;
        transition: all 0.2s ease;
    }

    .valider-guid:active {
        transform: translate(0, 5px);
        border-bottom: 1px;
    }


/* LOTERIE */
#info {
    width: 243px;
    background-color: #CFCECE;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    left: 115px;
    bottom: 564px;
}

    #info p {
        margin: 0px;
        font-size: 16px;
        color: #0B7A75;
    }

    #info .alert {
        color: #C17767;
        margin-top: 5px;
    }

#resultat {
    background-color: #0B7A75;
    width: 390px;
    height: 70px;
    border-radius: 10px;
    margin: 10px auto;
    padding-top: 1px;
}

    #resultat #cagnotte {
        background-color: #CFCECE;
        color: #0B7A75;
        font-size: 20px;
        width: 385px;
        height: 35px;
        border-radius: 10px;
        margin: 2px auto;
    }

    #resultat #gain {
        color: #FFFFFF;
        font-size: 20px;
    }

#grille-total {
    display: inline-block;
    text-align: center;
}

.grille input {
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    border-style: none;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #0B7A75;
    color: #FFFFFF;
    transition: all 0.2s ease;
    display: inline-block;
    margin: 7px 7px;
}

    .grille input:hover {
        transform: scale(0.9);
        background-color: #C17767;
        transition: all 0.2s ease;
    }

#selection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.btn-selection {
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    background-color: #C17767;
    color: #FFFFFF;
    margin: 7px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-btn-valider-reinitisaliser {
/*    display: flex;
    justify-content: space-between;*/
}

input[type="submit"] {
    width: 120px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    background-color: #CFCECE;
    color: #0B7A75;
    border-radius: 10px;
    border-style: none;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}

    input[type="submit"]:hover {
        background-color: #bab9b9;
        transition: all 0.2s ease;
    }

    input[type="submit"]:active {
        transform: translate(0, 5px);
        border-bottom: 1px;
    }

input[type="reset"] {
    width: 120px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    background-color: #0B7A75;
    color: #FFFFFF;
    border-radius: 10px;
    border-style: none;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all .1s;
    margin-top: 20px;
}

    input[type="reset"]:hover {
        background-color: #08615d;
        transition: all 0.2s ease;
    }

    input[type="reset"]:active {
        transform: translate(0, 5px);
        border-bottom: 1px;
    }


/* REGLES */
#principale {
    width: 50%;
    background-color: #CFCECE;
    border-radius: 10px;
    margin: auto;
}

    #principale p {
        margin: 10px;
    }

.premiere {
    margin-top: 50px;
}

    .premiere div {
        color: #FFFFFF;
        background: #0B7A75;
        font-size: 20px;
        font-weight: 600;
        width: 100%;
        border-radius: 10px;
        border-style: none;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.deuxieme div {
    color: #FFFFFF;
    background: #0B7A75;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    border-radius: 10px;
    border-style: none;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.troisieme div {
    color: #FFFFFF;
    background: #0B7A75;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    border-radius: 10px;
    border-style: none;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quatrieme div {
    color: #FFFFFF;
    background: #0B7A75;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    border-radius: 10px;
    border-style: none;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* VISUALISATION */
#debut {
    margin-top: 30px;
}

.titre {
    color: #0B7A75;
    font-size: 20px;
    font-weight: 600;
}

.affichage {
    background-color: #CFCECE;
    height: 30px;
    width: 464px;
    border-radius: 10px;
    border-style: none;
    margin: 10px auto 25px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .affichage p {
        color: #0B7A75;
        font-size: 18px;
        font-weight: 500;
    }

.tirage-gagnant {
    background-color: #CFCECE;
    height: 45px;
    width: 464px;
    border-radius: 10px;
    border-style: none;
    margin: 10px auto 25px auto;
    display: flex;
    justify-content: space-between;
}

    .tirage-gagnant input[type="button"] {
        width: 35px;
        height: 35px;
        font-size: 16px;
        border-radius: 50%;
        border-style: none;
        background-color: #C17767;
        color: #FFFFFF;
        margin: auto;
    }

.votre-tirage {
    background-color: #CFCECE;
    height: 45px;
    width: 464px;
    border-radius: 10px;
    border-style: none;
    margin: 10px auto 25px auto;
    display: flex;
    justify-content: space-between;
}

    .votre-tirage input[type="button"] {
        width: 35px;
        height: 35px;
        font-size: 16px;
        border-radius: 50%;
        border-style: none;
        background-color: #0B7A75;
        color: #FFFFFF;
        margin: auto;
    }

.votre-gain {
    background-color: #CFCECE;
    height: 60px;
    width: 464px;
    border-radius: 10px;
    border-style: none;
    margin: 10px auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .votre-gain p {
        color: #0B7A75;
        font-size: 18px;
        font-weight: 500;
    }
