@model LoterieViewModel


@{
    ViewData["Title"] = "Home Page";
}

<div id="debut">
    <span class="titre">Votre code</span>
    <div class="affichage">
        <p>@Model.Guid</p>
    </div>
</div>

<div>
    <span class="titre">Date et heure du tirage</span>
    <div class="affichage">
        <p>31/10/22 - 12:25</p>
    </div>
</div>

<div>
    <span class="titre">Tirage gagnant</span>
    <div class="tirage-gagnant">
        
        <div>@Model.GrillePartie</div>
        @*
        <input type="button" value="5" id="5">
        <input type="button" value="16" id="16">
        <input type="button" value="28" id="28">
        <input type="button" value="31" id="31">
        <input type="button" value="41" id="41">
        <input type="button" value="43" id="43">
        *@
    </div>
</div>

<div>
    <span class="titre">Votre tirage</span>
    <div class="votre-tirage">
        <input type="button" value="9" id="9" class="test">
        <input type="button" value="16" id="16">
        <input type="button" value="28" id="28">
        <input type="button" value="31" id="31">
        <input type="button" value="39" id="39">
        <input type="button" value="43" id="43">
    </div>
</div>

<div>
    <span class="titre">Votre gain</span>
    <div class="votre-gain">
        <p>Rang x : xx choux</p>
    </div>
</div>